body {
	font-size: 14px;
	line-height: 21px;
	font-family: PT Sans;
	color: #333333;
	font-weight: Regular;
}

.container {
	width: 1200px;
	padding: 0 40px;
	margin:0 auto;
}



/* =====================
	    HEADER
===================== */


.main-navigation {
	justify-content: space-between;
	display: flex;
	font-size: 14px;
	line-height: 26px;
	font-family: PT Sans;
	color: #000000;
	font-weight: bold;
}

.main-navigation li {
	width: 200px;
	min-height: 55px;
	list-style: none;
}

/* =====================
	    MAIN
===================== */

.feature-block {
	display: flex;
}

.feature-description  {
	background-color: #81b3d2; 
	color: #ffffff;
}

.product-items {
	display: flex;
	justify-content: space-between;
}
 
.main-title , .inner-product-title {
	font-size: 21px;
	line-height: 26px;
	font-family: PT Sans;
	color: #000000;
	font-weight: bold;
}

.main-title p {
	font-size: 14px;
	line-height: 26px;
	font-family: PT Sans;
	color: #333333;
	font-weight: Regular;
}

.content-title {
	font-size: 21px;
	line-height: 21px;
	font-family: PT Sans;
	color: #000000;
	font-weight: bold;
}

.product-items:nth-of-type(6) {
	background: #eeeeee; 
}

.product-search {
	width: 576px;
	margin:0 auto;
}

/* ============
     FILTER
=============== */

.filter {
	min-height: 200px;
	display: flex;
	background: url("img/filter-background.jpg");
	justify-content: space-between;
}

.filter-block {
	width: 700px;

}

.filter-points {
	list-style: none;
}

/* ============
  SORTING-MENU
=============== */

.sorting-menu {
	background: #ccc;
	display:flex;
	justify-content: space-between;
	min-height:90px;
}

.sorting-menu-left {
	margin-top: 20px;
	display:flex;
	align-items: flex-start;

}

 }

 .up {
 	border-left: 5px solid transparent;
 	border-right: 5px solid transparent;
 	border-bottom: 10px solid #cccccc;
 }  

  .down {
 	border-left: 5px solid transparent;
 	border-right: 5px solid transparent;
 	border-top: 10px solid #81b3d2;
 } 



/* ============
  INNER_PRODUCTS
=============== */

.inner-product {
	min-height: 150px;
	display: flex;
	justify-content: space-between;
}

.inner-img {
	vertical-align: middle;
}

.inner-product-description {
	margin-right: 600px;
}


.search-title {
	font-size: 30px;
	line-height: 24px;
	font-family: PT Sans;
	color: #000000;
	font-weight: bold;
}

.filter-title {
	font-size: 16px;
	line-height: 21px;
	font-family: PT Sans;
	color: #ffffff;
	font-weight: bold;
}


.feature-description {
	width: 400px;
	
}

.product-item {
	width: 400px;
}

/* =====================
	    FOOTER
===================== */

.main-footer {
	display: flex;
	justify-content: space-between;
	background: #f9fbf6;
}

.instagram {
	width: 240px;
}

.footer-socials {
	width:400px;
}

.footer-copyright {
	width: 240px;

}





